* :before,
:after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Playfair Display", "Rubik", sans-serif;
  height: 100%;
  margin-bottom: 0;
}

a {
  color: inherit;
}

input,
button {
  font: inherit;
  border: none;
}

button {
  background-color: transparent;
}

ul {
  list-style-type: none;
}
