$principal-color-dark: #ff7757;
$principal-color-light: #ffd2c7;
$secondary-color-dark: #331811;
$secondary-color-light: #61291c;
$text-color-light: #fbfbfb;
$text-color-mild: #767e86;
$text-color-dark: #172432;
