* :before,
:after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Playfair Display", "Rubik", sans-serif;
  height: 100vw;
}

a {
  color: inherit;
}

input,
button {
  font: inherit;
  border: none;
}

button {
  background-color: transparent;
}

.welcome__page {
  padding: 0px 16px 100px 16px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 100px;
  min-height: 100vh;
  width: 320px;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.3) 100%), url(../design-assets/background-main.jpeg);
}
.welcome__page__items {
  padding: 24px 16px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
  width: 100%;
}

.titles {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: flex-start;
  align-self: stretch;
}
.titles__title {
  font-family: "Playfair Display", serif;
  color: #fbfbfb;
  font-size: 2.5rem;
  font-weight: 400;
}
.titles__subtitle {
  font-family: "Rubik", sans-serif;
  color: #fbfbfb;
  font-size: 1.125rem;
  font-weight: 400;
}

.buttons {
  display: flex;
  align-items: flex-start;
  gap: 40px;
  width: 172px;
  height: 60px;
}
.buttons .buttons__left {
  display: flex;
  transform: rotate(90deg);
  flex-direction: column;
  align-items: flex-start;
  gap: 4px;
  border-radius: 12px;
  background: #172432;
}
.buttons .buttons__right {
  display: flex;
  transform: rotate(-90deg);
  flex-direction: column;
  align-items: flex-start;
  gap: 4px;
  border-radius: 12px;
  background: #ff7757;
}

.travel {
  border-radius: 16px;
  border: 1px transparent;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 60px;
  align-self: stretch;
  background-color: white;
}
.travel__form {
  padding: 20px 20px;
  display: flex;
  flex-direction: column;
  gap: 40px;
  background-color: white;
  align-items: flex-start;
  align-self: stretch;
}

.book__flights {
  display: flex;
  align-items: center;
  gap: 12px;
  justify-content: space-between;
  padding: 44px 51px;
  background-color: #ff7757;
  border-radius: 0px 0px 16px 16px;
}
.book__flights-button {
  color: #fbfbfb;
  background-color: inherit;
  font-size: 36px;
  flex: 1 0 0;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.division-line {
  width: 227px;
  height: 3px;
  background: #ff7757;
}

.destinations {
  display: flex;
  width: 320px;
  padding: 80px 16px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 100px;
}

.destinations__header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 32px;
  align-self: stretch;
}
.destinations__header .destinations__title {
  align-self: stretch;
  color: #172432;
  font-family: Playfair Display;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.destinations__header .destinations__subtitle {
  align-self: stretch;
  color: #767e86;
  font-family: Rubik;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.cards__list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 32px;
  align-self: stretch;
}
.cards__list .card1 {
  position: relative;
}
.cards__list .card1 .card1__image {
  display: flex;
  position: absolute;
  border: 16px;
  width: 288px;
  height: 320px;
  padding: 40px 20px;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  border-radius: 16px;
  background: linear-gradient(0deg, rgba(255, 119, 87, 0.1) 0%, rgba(255, 119, 87, 0.1) 100%), url(<path-to-image>), lightgray 50%/cover no-repeat;
}
.cards__list .card1 .card1__title {
  align-self: stretch;
  position: absolute;
  color: #fff;
  font-family: Playfair Display;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.cards__list .card1 .card1__location {
  position: absolute;
  flex: 1 0 0;
  color: #fff;
  font-family: Rubik;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.cards__list .card2 {
  position: relative;
}
.cards__list .card2 .card2__image {
  display: flex;
  position: absolute;
  border: 16px;
  width: 288px;
  height: 320px;
  padding: 40px 20px;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  border-radius: 16px;
  background: linear-gradient(0deg, rgba(255, 119, 87, 0.1) 0%, rgba(255, 119, 87, 0.1) 100%), url(<path-to-image>), lightgray 50%/cover no-repeat;
}
.cards__list .card2 .card2__title {
  align-self: stretch;
  position: absolute;
  color: #fff;
  font-family: Playfair Display;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.cards__list .card2 .card2__location {
  flex: 1 0 0;
  position: absolute;
  color: #fff;
  font-family: Rubik;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.cards__list .card2 .card3 {
  position: relative;
}
.cards__list .card2 .card3 .card3__image {
  display: flex;
  border: 16px;
  width: 288px;
  height: 320px;
  padding: 40px 20px;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  border-radius: 16px;
  background: linear-gradient(0deg, rgba(255, 119, 87, 0.1) 0%, rgba(255, 119, 87, 0.1) 100%), url(<path-to-image>), lightgray 50%/cover no-repeat;
}
.cards__list .card2 .card3 .card3__title {
  align-self: stretch;
  position: absolute;
  color: #fff;
  font-family: Playfair Display;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.cards__list .card2 .card3 .card3__location {
  flex: 1 0 0;
  position: absolute;
  color: #fff;
  font-family: Rubik;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

ul {
  list-style-type: none;
}

/*# sourceMappingURL=styles.css.map */
