@use "../variables/colors";

.book__flights {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 12px;
  justify-content: space-between;
  padding: 20px 19px;
  background-color: #ff7757;
  border-radius: 0px 49px 40px 11px;

  &-button {
    padding: 40px 0px;
    color: colors.$text-color-light;
    background-color: inherit;
    font-size: 2.2rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
}
